[submodule "src/code.cloudfoundry.org/eirini"]
	path = src/code.cloudfoundry.org/eirini
	url = https://github.com/cloudfoundry-incubator/eirini
[submodule "src/eirinifs"]
	path = src/eirinifs
	url = https://github.com/cloudfoundry-incubator/eirinifs.git
[submodule "src/github.com/SUSE/eirini-persi-broker"]
	path = src/github.com/SUSE/eirini-persi-broker
	url = https://github.com/SUSE/eirini-persi-broker.git
[submodule "src/github.com/SUSE/eirini-persi"]
	path = src/github.com/SUSE/eirini-persi
	url = https://github.com/SUSE/eirini-persi.git
[submodule "src/github.com/SUSE/eirini-loggregator-bridge"]
	path = src/github.com/SUSE/eirini-loggregator-bridge
	url = https://github.com/SUSE/eirini-loggregator-bridge.git
[submodule "src/github.com/SUSE/eirini-ssh"]
	path = src/github.com/SUSE/eirini-ssh
	url = https://github.com/SUSE/eirini-ssh.git
